body {
    background: #01242e;
    color: #fff;
    font-family: sans-serif;
    margin: auto;
    padding: 30px;
    max-width: 600px;
}

blockquote {
    background:#1A3440;
}

a:link {
    color: #EAE2C6;
}
a:visited {
    color: #EAE2C6
}
a:hover {
    color: #01242e;
    background-color: #fff;
}
